<%= simple_form_for list do |f| %>
  <%= f.input :name %>
    <div class="choose_file">
      <span>Choose file for Thumbnail</span>
      <%= f.input :thumbnail, as: :file, label: false%>
    </div>
  <div class="d-flex justify-content-between">
    <%= link_to 'Cancel', lists_path, class: 'btn btn-outline-danger my-2 my-sm-0' %>
    <%= f.submit class: 'btn btn-outline-primary my-2 my-sm-0' %>
  </div>
<% end %>