<div class="custom-container">
  <div class="list-name">
    <div class="d-flex">
      <h1><%= @list.name %></h1>
      <div class="movies-count">
        <span class="movie-tag">( <%= pluralize(@list.movies.size, 'movie') %> )</span>
      </div>
    </div>
    <%= link_to new_list_bookmark_path(@list) do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </div>
  <div>
    <small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small>
  </div>
  <div class="movies-wrapper">
    <div class="left-column">
      <% @list.movies.each do |movie| %>
        <div class="card-movie">
          <%= image_tag movie.poster_url, alt: movie.title%>
          <div class="movie-info">
            <div class="info-main">
              <span class="movie-title"><%= movie.title %></span> <span class="movie-rating">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span>
            </div>
            <p>
              <small class="text-muted"><%= movie.overview %></small>
            </p>
          </div>
        </div>
        <% end %>
    </div>
    <div class="right-column">
      <div class="movie-details-wrapper">
          <%# current_movie = @list.movies[0]
          image_tag current_movie.poster_url %>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum provident id consequuntur ducimus eaque, sed dignissimos assumenda, aliquam sequi autem maxime voluptas praesentium enim esse aut repellat veniam minus facere?</p>
        <div class="d-flex justify-content-between">
          <p>raiting 5.32</p>
          <p>2000-23-1</p>
          <p>language: JP</p>
        </div>
      </div>
    </div>
  </div>
</div>
